---
interface Props {
    lista: number;
    name: string;
    lastName: string | null;
    position: string | null;
    asistencias: number;
    faltas: number | null;
    id: number;
}

const { 
    lista,
    name,
    lastName,
    position,
    asistencias,
    faltas,
    id
} = Astro.props;
---

<span class='flex gap-1 border  justify-left w-4/5 text-[#0833a2] border-b-slate-300'>
    <p  class='w-2/12 text-center md:w-1/6'>{lista}</p>
    <h2 class='w-2/12 text-center md:w-2/6 '>{name}</h2>
    <h2 class='w-2/12 text-center md:w-3/12 max-[600px]:'>{lastName}</h2>
    <p class='w-2/12 text-center md:w-1/6 max-[600px]:'>{position}</p>
    <p class='w-2/12 text-center max-[780px]:hidden'>{asistencias}</p>
    <p class='w-1/12 text-center max-[780px]:hidden'>{faltas}</p>
    <button class='w-1/12'><a href={`player/${id}`}>+</a></button>
</span>